Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [3]:
a = "swapna"
b = [1,2,"rana",10.0]
c = 9.8
d = (45,90,3,56)

In [5]:
print(type(a),type(b),type(c),type(d))

<class 'str'> <class 'list'> <class 'float'> <class 'tuple'>

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [7]:
var1 = ''
var2 = '[DS , ML , Python]'
var3 = ['DS','ML','Python']
var4 = 1

In [8]:
print(type(var1),type(var2),type(var3),type(var4))

<class 'str'> <class 'str'> <class 'list'> <class 'int'>

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

(i) / (Division Operator):
The division operator / performs division and returns the quotient as a floating-point number.

Example:
x = 10
y = 3

result = x / y
print(result)  # Output: 3.3333333333333335

In this example, x / y divides the value of x (10) by the value of y (3) and returns the result as a floating-point number.

(ii) % (Modulo Operator):
The modulo operator % calculates the remainder of the division between two numbers.

Example:
x = 10
y = 3

result = x % y
print(result)  # Output: 1

In this example, x % y calculates the remainder when x (10) is divided by y (3) and returns the result (1).

(iii) // (Floor Division Operator):
The floor division operator // performs division and returns the quotient as an integer, discarding any decimal places.

Example:
x = 10
y = 3

result = x // y
print(result)  # Output: 3

In this example, x // y performs floor division between x (10) and y (3) and returns the quotient (3) without any decimal places.

(iv) ** (Exponentiation Operator):
The exponentiation operator ** raises the left operand to the power of the right operand.

Example:
x = 2
y = 3

result = x ** y
print(result)  # Output: 8
In this example, x ** y raises x (2) to the power of y (3) and returns the result (8).

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [10]:
a = [1,2,"rana",10.0,2+6j,True,(5,6),'12',[8,7],0b0011]

for i in a:
    print("The data type of ",i,"is ",type(i))

The data type of  1 is  <class 'int'>
The data type of  2 is  <class 'int'>
The data type of  rana is  <class 'str'>
The data type of  10.0 is  <class 'float'>
The data type of  (2+6j) is  <class 'complex'>
The data type of  True is  <class 'bool'>
The data type of  (5, 6) is  <class 'tuple'>
The data type of  12 is  <class 'str'>
The data type of  [8, 7] is  <class 'list'>
The data type of  3 is  <class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [15]:
A = 100
B = 5
count = 0

while A % B == 0:
    count += 1
    A //= B
    
print("The number is purely divisible", count, "times.")

The number is purely divisible 2 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [7]:
j = [17, 9, 5, 12, 31, 8, 27, 14, 22, 30, 11, 3, 20, 16, 24, 7, 19, 28, 2, 10, 6, 21, 13, 18, 15]

for k in j:
    if k % 3 == 0:
        print(str(k) + " is divisible by 3.")
    else:
        print(str(k) + " is not divisible by 3.")

17 is not divisible by 3.
9 is divisible by 3.
5 is not divisible by 3.
12 is divisible by 3.
31 is not divisible by 3.
8 is not divisible by 3.
27 is divisible by 3.
14 is not divisible by 3.
22 is not divisible by 3.
30 is divisible by 3.
11 is not divisible by 3.
3 is divisible by 3.
20 is not divisible by 3.
16 is not divisible by 3.
24 is divisible by 3.
7 is not divisible by 3.
19 is not divisible by 3.
28 is not divisible by 3.
2 is not divisible by 3.
10 is not divisible by 3.
6 is divisible by 3.
21 is divisible by 3.
13 is not divisible by 3.
18 is divisible by 3.
15 is divisible by 3.

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In programming, mutable and immutable are two fundamental concepts related to the mutability or immutability of data types.

Immutable data types are those whose values cannot be modified after they are created. When an operation is performed on an immutable data type, a new object is created with the modified value, while the original object remains unchanged.

Examples of immutable data types in Python include:

1. Integer: An integer value cannot be changed once created. For example:
x = 5
x += 2  # Creates a new integer object with the value 7
print(x)  # Output: 7

2. String: Strings are also immutable in Python. Any modification to a string results in the creation of a new string object.
s = "Hello"
s += " World"  # Creates a new string object with the value "Hello World"
print(s)  # Output: Hello World

Mutable data types, on the other hand, can be modified after they are created. Operations on mutable data types directly modify the existing object without creating a new object.

Examples of mutable data types in Python include:

1. List: Lists are mutable, allowing for the addition, removal, or modification of elements.
my_list = [1, 2, 3]
my_list.append(4)  # Modifies the list by adding a new element
print(my_list)  # Output: [1, 2, 3, 4]

my_list[1] = 5  # Modifies the list by changing the value at index 1
print(my_list)  # Output: [1, 5, 3, 4]

2. Dictionary: Dictionaries are mutable, enabling the addition, removal, or modification of key-value pairs.
my_dict = {"name": "John", "age": 30}
my_dict["name"] = "Jane"  # Modifies the value associated with the key "name"
print(my_dict)  # Output: {'name': 'Jane', 'age': 30}

my_dict["city"] = "New York"  # Adds a new key-value pair to the dictionary
print(my_dict)  # Output: {'name': 'Jane', 'age': 30, 'city': 'New York'}

Understanding the mutability or immutability of data types is crucial as it affects how data is stored, accessed, and modified in a program. Immutable data types provide certain advantages such as being safer for concurrent programming and hashability, while mutable data types offer flexibility in updating values in place.